click==7.1.2
cmake==3.17.3
cycler==0.10.0
decorator==4.4.2
imageio==2.8.0
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.11.3
joblib==0.15.1
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
notify2==0.3.1
numpy==1.18.4
opencv-contrib-python==4.2.0.34
opencv-python==4.2.0.34
pandas==1.0.4
Pillow==10.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytimeparse==1.1.8
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
tifffile==2020.6.3
